body{
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}
.first__page{
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0);
    position: relative;
    z-index: 0;
    background: url(leading-the-charge-in-melbourne.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
header{
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    position: sticky;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 1;
}
.logo__menu{
    padding: 20px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img__logo{
    
    width: 50px;
    height: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__txt{margin-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav__item{
    font-size: 24px;
    margin: 25px;
    color: black;
    text-decoration-line: none;
}
.nav__item:hover{
    color: rgb(218, 218, 218);
}

.title{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}
h1{margin: 0;}

.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    

}
.button{
    margin-top: 50px;
}
.btn1{
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.427)
}
.btn2{
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.427)
    
}
.btn2:hover{
    border: 2px solid white;
    color: white;
}
    

.btn1:hover {
    border: 2px solid white;
    color: white;
}

.product {    width: 30%;
    margin: 10px;    padding: 15px;
    text-align: center;    background-color: #fff;
    border-radius: 5px;    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product :hover{    transform: scale(1.1);
}

.second__page {
    height: 100vh;
    width: 100vw;
    background: url(chasing-the-apex.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.img_1{
    width: 100px;
    height: 100px;
    padding: 30px;
}


.con_1, .con_2, .con_3, .con_4{
    margin: 20px;
    width: 250px;
    text-align: center;
}
.page_2{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
}
.second__header{
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.af{
    text-align: center;
    text-decoration: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 .img-2 {
width: 40%;

  }
  #n1 img{
    width: 30%;
    
  }
  #n1 img:hover{
  opacity: 1;
  }
  #f1 {
    top: 600px;
    width: 30%;
    height: 30%;
    position:absolute;
  }
  #glav{
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    background-color: rgba(240, 248, 255, 0.427);
    width: 20px;
    height: 20px;
    margin-right: 15px;
    transition: background-color 0.3s;
}

#glav:hover{
    background-color: rgba(16, 116, 203, 0.746);
}
#nglav{
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    background-color: rgba(240, 248, 255, 0.427);
    width: 20px;
    height: 20px;
    margin-right: 15px;
    transition: background-color 0.3s;
}

#nglav:hover{
    background-color: rgba(245, 48, 48, 0.745);
}
#rb{
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    background-color: rgba(240, 248, 255, 0.427);
    width: 20px;
    height: 20px;
    margin-right: 15px;
    transition: background-color 0.3s;
}

#rb:hover{
    background-color: #3266f6be;
}
#fr{
    border-radius: 10px;
    color: rgb(24, 9, 241);
    padding: 10px 10px;
    background-color: rgba(240, 248, 255, 0.427);
    width: 20px;
    height: 20px;
    margin-right: 15px;
    transition: background-color 0.3s;
}

#fr:hover{
    background-color: rgba(245, 48, 48, 0.745);
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
 
.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
 
.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 70s infinite linear;
    -moz-animation: scroll 70s infinite linear;
    animation: scroll 70s infinite linear;
    color: rgb(160, 160, 160);
}

